<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // 函数表达式：赋值给变量
        let 变量 = function () {
            函数体
        }
        fn()  // 调用变量

        /*
        函数表达式 和 具名函数 的不同:
            具名函数的调用可以在任何位置,
            但函数表达式必须先声明、后调用。
        */
 
        // 立即执行函数
        // 写法 1
        (function (形参) {
            函数体
        })(实参);  // 第二个(黄色)括号就是在调用函数

        // 写法 2
        (function (形参) {
            函数体
        } (实参));  // 第二个(紫色)括号就是在调用函数
    </script>
</body>
</html>