<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="#" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Function</title>
</head>
<body>
    <script>
        /*
        // 函数结构
        function 函数名(形参) {
            函数体
            return 返回值
        }
        函数名(实参)  // 调用函数
        */
        

        // 乘法表
        function sheet99() {
            for (let i = 1; i <= 9; i++) {
                // 里循环: 控制列数
                for (let j = 1; j <= i; j++) {
                    document.write(`${j} * ${i} = ${i * j} &nbsp;`)
                }
                document.write('<br>')
            }
        }

        // 调用函数
        sheet99()

        // 两数求和
        /*
         function getSum1() {
            let num1 = +prompt('请输入第一个数')
            let num2 = +prompt('请输入第二个数')
            console.log(num1 + num2)
        }

        getSum1()
        */

        // 求1~100累加和
        /*
        function getSum2() {
            let sum = 0;
            for (let i = 1; i <= 100; i++) {
                sum += i;
            }
            console.log(sum)  //以100为例
        }
        
        getSum2(100)
        */

        // 求任意数累加和 by 自己
        /*
        function getSum3() {
            let num = prompt('请输入一个数')
            let sum = 0;
            for (let i = 1; i <= num; i++) {
                sum += i;
            }
            console.log(sum)
        }

        getSum3()
        */

        // 求任意数累加和 by 老师
        function getSum4(start, end) {
            let sum = 0;
            for (let i = start; i <= end; i++) {
                sum += i;
            }
            console.log(sum)
        }

        let num1 = +prompt('请输入起始值')  // 实参可以是变量
        let num2 = +prompt('请输入结束值')
        getSum4(num1 ,num2)


        // 案例: 函数封装-数组求和
        function getArrSum(arr = []) {  //设置形参默认为空数组，结果为0
            // console.log(arr)
            let sum = 0;
            for (let i = 0; i < arr.length; i++) {
                sum += arr[i]
            }
            console.log(sum)
        }

        getArrSum([1, 2, 3, 4, 5])
        getArrSum([11, 22, 22])
        getArrSum()  // undefined
    </script>
</body>
</html>