<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        // 随机生成数字
        function getRandom(N, M) {
            return Math.floor(Math.random() * (M - N + 1)) + N
        }
        let random = getRandom(1, 10)
        console.log(random)

        // 不断循环
        while(true) {
            // 用户输入猜测的数值
            let num = +prompt('请输入你猜测的数字')

            // 判断输出
            if (num > random) {
                alert('猜大了')
            } else if (num < random) {
                alert('猜小了')
            } else {
                alert('猜对了')
                break  // 退出循环
            }
        }
    </script>
</body>
</html>